---
import BaseLayout from '@/layouts/BaseLayout.astro'
import siteConfig from '@/site-config'
---

<BaseLayout description={siteConfig.description}>
  <article class="prose">
    <h1>Fredwork Lemmas</h1>
    <p>
      As some of my side projects become interesting and begin to merge with others, I'm finding I want to write about
      them.
    </p>
    <p>
      I like to think I'm doing work that's of interest to a wider audience but, if I'm honest, there's something about
      the work of transcribing my thoughts on a subject into something that can be read and understood by others that I
      find particularly helpful as I learn to use whatever new tool or process I've manifested in a repository of code.
    </p>
    <p>
      For now, the focus of this site will involve mostly my forays into a variety of AI-related projects. However, if
      my focus wanders off-topic as it sometimes does, I may post about building fences, clearing trails or brewing
      beer.
    </p>

    <hr class="hr-line" />
    <p>Find me on</p>
    <p class="flex gap-x-4 gap-y-2 flex-wrap">
      {
        siteConfig.socialLinks.map((link) => (
          <a aria-label={link.text} href={link.href} target="_blank" class="prose-link">
            <i class:list={[link.icon]} />
            {link.text}
          </a>
        ))
      }
    </p>
    <p>
      If you have any questions, please email me at
      <a prose-link aria-label={siteConfig.email} href={`mailto:${siteConfig.email}`}>
        {siteConfig.email}
      </a>.
    </p>
  </article>
</BaseLayout>
