---
import BaseLayout from '@/layouts/BaseLayout.astro'
import siteConfig from '@/site-config'
---

<BaseLayout description={siteConfig.description}>
  <article class="prose">
    <h1>Fredwork Lemmas</h1>
    <img src="/sunrise.jpg" alt="Sunrise" />
    <p>
      You've stumbled on a diary of sorts, but without all the juicy bits. It doesn't include personal stuff about who
      did this-or-that in my circles (or your circles) or why I'm mad about something I read on Facebook.
    </p>
    <p>
      This is the story of Fred McDavid and I mostly write about software and systems, but I might post something about
      my farm or homebrewing from time to time and, even when I do that, I'll probably try to tie it back in to software
      with some sort of clever metaphor.
    </p>
    <p>
      And, in case I forget, I'm writing because it helps me think and because I too often wish I'd been doing it all
      along.
    </p>

    <hr class="hr-line" />
    <p>Find me on</p>
    <p class="flex gap-x-4 gap-y-2 flex-wrap">
      {
        siteConfig.socialLinks.map((link) => (
          <a aria-label={link.text} href={link.href} target="_blank" class="prose-link">
            <i class:list={[link.icon]} />
            {link.text}
          </a>
        ))
      }
    </p>
    <p>
      If you have any questions, please email me at
      <a prose-link aria-label={siteConfig.email} href={`mailto:${siteConfig.email}`}>
        {siteConfig.email}
      </a>.
    </p>
  </article>
</BaseLayout>
