---
import BaseLayout from '@/layouts/BaseLayout.astro'
import siteConfig from '@/site-config'
---

<BaseLayout description={siteConfig.description}>
  <article class="prose">
    <h1>Fredwork Lemmas</h1>
    <p>
      You've stumbled on a diary of sorts, but without all the juicy bits. It doesn't even include personal stuff about
      who did this-or-that or why I'm mad about some politician or what mega-star John Cena wore on a red carpet
      somewhere.
    </p>
    <p>I'm mostly writing about software and systems, but I might post something about my farm from time to time.</p>
    <p>
      And, should the occasion arise in which I feel I'm duty-bound to share, I might post something about brewing beer
      because, as an award-winner brewer (3rd place in the D.C. Cherry Blossom Homebrew Competition for an English
      Bitter...baby), I feel it's important that I share my blessings with the up-and-coming folks who haven't yet won
      an award in a regional homebrew contest..bless their hearts.
    </p>

    <hr class="hr-line" />
    <p>Find me on</p>
    <p class="flex gap-x-4 gap-y-2 flex-wrap">
      {
        siteConfig.socialLinks.map((link) => (
          <a aria-label={link.text} href={link.href} target="_blank" class="prose-link">
            <i class:list={[link.icon]} />
            {link.text}
          </a>
        ))
      }
    </p>
    <p>
      If you have any questions, please email me at
      <a prose-link aria-label={siteConfig.email} href={`mailto:${siteConfig.email}`}>
        {siteConfig.email}
      </a>.
    </p>
  </article>
</BaseLayout>
